<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.xiaomi.flutter_xiaomi_iap">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.xiaomi.sdk.permission.APP" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE" />

    <!-- 安卓11包可见性适配 -->
    <queries>
        <!-- 微信 -->
        <package android:name="com.tencent.mm" />
        <!-- 支付宝 -->
        <package android:name="com.eg.android.AlipayGphone" />
    </queries>

    <application>
        <!-- Xiaomi SDK Need -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
        <!-- 小米 SDK 所需的 Activity -->
        <activity android:name="com.xiaomi.account.openauth.AuthorizeActivity" />
        <!-- Xiaomi SDK Need End-->
    </application>

</manifest>
